GameScreen {
    layout: horizontal;
    background: $boost;
    height: 15;
    min-width: 50;
    margin: 1;
    padding: 1;
}

TetrisApp {
    text-align: center;
    color: $foreground-muted;   
    height: 15;
}

